header{
    100%;
}
html, body{
    height: 100%;
    font-family: Arial, Times New Roman, Times or serif;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: auto;
}
#video{
    position: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1000;
}
.companylogo{
    background-image: url("companylogoBG.jpg");
    max-width: 500px;
    width: 100%;
    height: 15%;
    margin: auto;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1{
    padding: 0;
    border: 1px;
    margin: auto;
    font-size: 2.5em;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;
    position: relative;
    top: 30%;
}
.nav-bar{
    max-width: 500px;
    height: 4%;
    width: 100%;
    margin: auto;
    background-color: #707070;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 0.5px;
    text-align: center;
    position: relative;
}
.nav-bar a{
    font-size: 1.25em;
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 10px;
    position: relative;
    top: 20%;
}

h2, h3, h4, h5{
    max-width: 500px;
    width: 100%;
    padding: 0;
    border: 0;
    margin: auto;
    font-size: 40px;
    font-variant: small-caps;
    font-weight: normal;
    background-color: #2898FA;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    top: 80%;
}

p {
    max-width: 500px;
    width: 100%;
    padding: 0;
    border: 0;
    margin: auto;
    font-size: 40px;
    font-variant: small-caps;
    font-weight: normal;
    background-color: #2898FA;
    color: #FFFFFF;
    text-align: center;
    position: relative;
}

h6{
    max-width: 500px;
    width: 100%;
    border-top: solid;
    border-top-width: .5px;
    border-color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    font-size: 1.25em;
    font-weight: normal;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    position: relative;
}

figure{
    max-width: 500px;
    height: 180px;
    margin: auto;
    position: relative;
    top: -80px;
    
}
img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: fill;
    background-size: cover;
    position: relative;
    top: 80px;
    border: 0;
}
/*@media only screen and (min-width: 25em) {

    .body {
        width: 100%;
    }
    #video{
        display: none;
    }
    .companylogo {
        width: 100%;
    }
    .nav-bar{
        width: 25%;
    }
    .nav-bar a{
        width: 100%;
    }
    .section2 h2{
        width: 100%;
    }
    .section2 p{
        width: 100%;
    }
    .section3 h3, p{
        display: none;
    }
    .section4 h4{
        display: none;
    }
    .section5 h5{
        display: none;
    }
    
    img{
        border-style: solid;
        border-width: 5px;
        border-color: #FFFFFF;
        margin: auto;
        
        }

    

}
@media only screen and (max-width: 60em) 
{
    .body{
        width: 100%;
    }
    #video{
        width: 100%;
    }
    .companylogo {
        width: 100%;
    }
    .nav-bar{
        width: 100%;
    }
    .nav-bar a{
        width: 100%;
    }
    .section2 h2{
        width: 100%;
    }
    .section3 h3{
        width: 100%;
    }
    .section3 p{
        width: 100%;
    }
    .section4 h4{
        width: 100%;
    }
    .section5 h5{
        width: 100%;
    }


}
@media only screen and (max-width: 60em)
{
    .body{
        width: 100%;
    }
    .companylogo {
        width: 100%;
    }
    #video{
        width: 100%;
    }
    .nav-bar{
        width: 100%;
    }
    .nav-bar a{
        width: 100%;
    }
    .section2 h2{
        width: 100%;
    }
    .section3 h3{
        width: 100%;
    }
    .section3 p{
        width: 100%;
    }
    .section4 h4{
        width: 100%;
    }
    .section5 h5{
        width: 100%;
    }
}









*/